/GitHub
/Python.py
/Python_10_module.py
/Python_11_find_punto_in_string.py
/Python_12_set.py
/Python_2.py
/Python_3.py
/Python_3_triangoli.py
/Python_4_pitagora.py
/Python_5_stringhe.py
/Python_6_parallelogramma.py
/Python_7_cilindro.py
/Python_7_cono.py
/Python_7_cono_v2.py
/Python_8_quadrato perfetto.py
/Python_9_tutte_le_figure.spec
/__pycache__
/build
/dist
/gpt_programma_scuola_media.py
/modulo_gpt.py
/prova.py
/test.py